<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Arena</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/narrow.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/custom.css">

	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:#428bca" id="nav-gradient">
			<div class="container-old">
				<div class="navbar-header">
				
					<a class="navbar-brand" href="#" style="color:white; font-size: 40px;">tinyWorld</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/profile" style='color:white;'>Profile</a></li>
						<li><a href="/challenge" style='color:white;'>Challenges</a></li>
						<li><a href="/logout" style='color:white;'>Logout</a></li>
					</ul>
				</div>
			</div>
				
		</div>
		<div class="container">
			<div class="jumbotron" id="ele">
				<h1 class="lead"><%=challenge[0].title%></h1>
				<p class="lead"><%= challenge[0].description%></p>
			</div>
			<div class="row comments">
				<form method="post" action="post">
					<input class="form-control" type="text" name="comment"> <br>
					<input type="submit" value="Post">
				</form>
			</div>
			<div class="row comments" >
				<div class="col-lg-12">
					<% for (var i = 0; i < posts.length; i++) { %>
						<h2><%= posts[i].username %> <small>said: </small> <%= posts[i].post %></h2>
					<% } %>
				</div>

			</div>

			<div class="footer span 7 text-center">
				<p>© tinyWorld 2014</p>
			</div>

		</div>


	</body>
</html> 